@image-height: 300px;

@keyframes animatedBackground {
  from { background-position: 0px 0; }
  to { background-position: 0px 500000%; }
}

#ImageLoop {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: repeat-y;
  animation: animatedBackground 100000s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  .title {
    padding: @pad-max;
    font-weight: bold;
    font-size: larger;
    border: @bar-min solid white;
    border-radius: @rads;
    background: rgba(255, 255, 255, 0.76);
    box-shadow: 0 0 0 2px black;
  }
}
