header {
  width: 100%;
  display: flex;
  flex-direction: column;
  .title-bar {
    display: flex;
    flex-direction: row;
    height: 100px;
    background-color: @clr-primary;
    line-height: 100px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    // .favs {
    //   background-color: ghostwhite;
    //   width: 200px;
    //   height: 35px;
    //   border-radius: @rads;
    //   box-shadow:
    //     inset 0 5px 0 0px #2a598a,
    //     inset 2px 2px 16px 4px rgba(0,0,0,0.25);
    // }
  }
  .link-bar {
    height: 4px;
    background-color: @clr-secondary;
  }
  .main-image {
    height: 200px;
    width: 100%;
    background-image: url('./images/sohp-grid-resized.jpg');
    background-size: cover;
    background-repeat: repeat-y;
    animation: animatedBackground 100000s linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
      padding: @pad-max;
      font-weight: bold;
      font-size: larger;
      border: @bar-min solid white;
      border-radius: @rads;
      background: rgba(255, 255, 255, 0.76);
      box-shadow: 0 0 0 2px black;
    }
  }
}

@media only screen and (max-width: @r-xs) {
  header {
    .title-bar {
      flex-direction: column;
      line-height: unset;
    }
  }
}
