nav {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: @clr-primary;
  border: 1px solid black;
  box-sizing: border-box;
  > * {
    cursor: pointer;
    padding: @pad-min;
    margin: @pad-min;
    border-radius: @rads;
    border-bottom: @bar-min solid @clr-primary;
    &.active {
      color: white;
      background-color: @clr-secondary;
      border-bottom: @bar-min solid @clr-accent;
    }
  }
  &.sticky {
    position: fixed;
    top: 0;
  }
}

@media only screen and (max-width: @r-xs) {
  nav {
    flex-direction: column;
    > * {
      width: 75%;
      text-align: center;
      padding: @pad-min @pad;
    }
  }
}
